package table

import "github.com/jfbus/templui/components/table/row"

templ C(def D) {
	<table class={ def.class("table") }>
		if def.Header != nil {
			<thead class={ def.headerClass() }>
				@row.C(def.header())
			</thead>
		}
		<tbody>
			for _, r := range def.rows() {
				@row.C(r)
			}
		</tbody>
		if def.Footer != nil {
			<tfoot class={ def.footerClass() }>
				@row.C(def.footer())
			</tfoot>
		}
	</table>
}
