package radiogroup

import (
	"github.com/jfbus/templ-components/components/form/validation/message"
	"github.com/jfbus/templ-components/components/radio"
)

templ C(def D) {
	<div class={ def.class() }>
		for _, d := range def.radios() {
			@radio.C(d)
		}
	</div>
	if def.Message != nil {
		@message.C(def.message())
	}
}
