package navbar

//playground:ignore
templ C(def D) {
	<nav class={ def.class("navbar") }>
		<div class={ def.class("navbar/content") }>
			for _, s := range def.Sections {
				@s
			}
		</div>
	</nav>
}
