package buttongroup

import(
	"github.com/jfbus/templ-components/button"
)

templ C(def D) {
  <div role="group"
    class={def.groupClass()}
    { def.Attributes... }
  >
    for _, bd := range def.buttons() {
      @button.C(bd)
    }
  </div>
}