package section

import "github.com/jfbus/templui/components/a"

templ C(def D) {
	<h2 class={ def.class("footer/section/title") }>{ def.Title }</h2>
	<ul>
		for _, l := range def.Links {
			<li class={ def.class("footer/section/link") }>
				@a.C(l)
			</li>
		}
	</ul>
}
