package section

import "github.com/jfbus/templ-components/components/a"

templ C(def D) {
	<h2 class={ def.titleClass() }>{ def.Title }</h2>
	<ul>
		for _, l := range def.Links {
			<li class={ def.linkClass() }>
				@a.C(l)
			</li>
		}
	</ul>
}
