package accordion

import "github.com/jfbus/templ-components/components/accordion/element"

templ C(def D) {
	<div id={ def.id() } x-data={ def.defaultState() }>
		for _, e := range def.children() {
			@element.C(e)
		}
	</div>
}
