package social

import "github.com/jfbus/templui/components/button"

templ C(def D) {
	@button.C(button.D{
		Type:  button.A,
		Style: button.StyleNoBorder,
		Icon:  def.icon(),
		Size:  def.Size,
		Attributes: templ.Attributes{
			"href": def.Link,
		},
	})
}
