package htmx

const (
	SwapOutOfBand   = "true"
	SwapInnerHTML   = "innerHTML"
	SwapOuterHTML   = "outerHTML"
	SwapTextContent = "textContent"
	SwapBeforeBegin = "beforebegin"
	SwapAfterBegin  = "afterbegin"
	SwapBeforeEnd   = "beforeend"
	SwapAfterEnd    = "afterend"
	SwapDelete      = "delete"
	SwapNone        = "none"
)

templ OOBSwap(id, swap string, c templ.Component) {
	<div id={ id } hx-swap-oob={ swap }>
		@c
	</div>
}
